# Sensible Konfigurationsdateien
src/main/resources/config.properties
/scripts/config/config.properties

# Logs
logs/
*.log

# Kompilierte Dateien
target/
bin/
out/
build/

# IDE-spezifische Dateien
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Weitere temporäre Dateien
*.tmp
*.bak

# Musikbibliothek - nur Audiodateien ausschließen, Struktur beibehalten
music_library/**/*.mp3
music_library/**/*.wav
music_library/**/*.flac
music_library/**/*.ogg
music_library/**/*.m4a
music_library/**/*.aac

# Sicherstellen, dass die Ordnerstruktur und README-Dateien eingeschlossen werden
!music_library/
!music_library/*/
!music_library/*/README.txt
