# Sensible Konfigurationsdateien
src/main/resources/config.properties
/scripts/config/config.properties

# Logs
logs/
*.log

# Kompilierte Dateien
target/
bin/
out/
build/

# IDE-spezifische Dateien
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Weitere temporäre Dateien
*.tmp
*.bak

# Musikbibliothek
music_library/
!music_library/.gitkeep
